<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" href="/images/weather.png">
  <link rel="stylesheet" href="/css/style.css" />
  <title>ABOUT</title>
</head>

<body>
  {{>header}}
  <main>
    <h1> {{title}} </h1>
    <section>
      <h3>Who We are ?</h3>
      <p class="about-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum voluptas commodi cupiditate
        suscipit mins
        eius totam nam reprehenderit aperiam aliquam culpa nesciunt consectetur ducimus tempore ullam magnin Lorem
        ipsum, dolor sit amet consectetur adipisicing elit. Earum voluptas commodi cupiditate
        suscipit mins
        eius totam nam reprehenderit aperiam aliquam culpa nesciunt consectetur ducimus tempore ullam magnin eum! Autem
        aliquid officia nemo vitae nam eum doloribus lorem ipsum, dolor sit amet consectetur adipisic elit. Earum
        voluptas commodi cupiditate
        suscipit mins.
      </p>
      <p class="about-desc">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Earum voluptas commodi cupiditate
        suscipit mins
        eius totam nam reprehenderit aperiam aliquam culpa nesciunt consectetur ducimus tempore ullam magnin Lorem
        ipsum, dolor sit amet consectetur adipisicing elit. Earum voluptas commodi cupiditate
        suscipit mins.
      </p>
    </section>
  </main>
  {{>footer}}
</body>

</html>